*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  /* background: linear-gradient(#004070, #000000); */
  background: #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
  color: #ffffff;
  font-size: 13px;
}
a{
  text-decoration: none;
}
input{
  border: #00000000;
}
textarea {
  resize: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  background-color: #ffffff2b;
}

/* Track */
::-webkit-scrollbar-track {
  border:  #1280da8d solid 1px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EA9A5B; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #A36B3F; 
}


.conteudoTopo{
  width: 100vw;
  margin: 0 auto;
  padding: 10px 25px;
	background:url(../Img/Background/BackgroundTopo.png);
  background-size: cover;
  background-position: center;
}
.nomeTopo{
  font-size: 32px;
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: bolder;
  color: #ffffff;
}


.conteudoCardapio{
  margin: auto;
  display: block;
}.conteudoCardapioNone{
  display: none;
}
.descricaoCardapio{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  margin: 10px;
}
.cardapio{
  margin: 5px auto;
  /* background: #1280da55; */
  background: #ffffff2b;
  padding: 10px 10px 222px 10px;
  border-radius: 15px;
  border:  #1280da8d solid 1px;
  position: relative;
  width: 250px;
}
.cardapioParte1{
  padding-bottom: 10px;
}
.cardapioParte2{
  border-top: #1280da8d solid 1px;
  padding: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
.cardapioNome, .cardapioValor, .cardapioDescricao, .cardapioImagem{
  color: #ffffff;
  text-align: center;
  padding: 2px 0px;
}
.cardapioImagem{
  display: flex;
  min-height: 170px;
}
.cardapioImagemIcone{
  margin: auto;
}
.tituloCardapioValor{
  text-align: left;
  padding-left: 3px;
  font-size: 16px;
}
.cardapioNome{
  font-weight: bolder;
  font-size: 16px;
}
.cardapioDescricao{
  line-height: 20px;
  text-align: justify;
}
.cardapioWpp{
  text-align: center;
  padding: 10px 0px;
}
.conteudoBotao{
  display: flex;
}
.linkConteudoBotao{
  text-align: center;
}
.botao{
  background-color: #EA9A5B;
  color: #170F09;
  cursor: pointer;
}.botao:hover{
  background-color: #170F09;
  color: #EA9A5B;
  box-shadow: 0px 0px 6px 6px #D28A51;
}
.link{
  border-radius: 50px;
  padding: 5px 10px;
  margin: auto;
  font-size: 14px;
  font-weight: bolder;
}
.Observacao{
  text-align: left;
  padding: 10px 3px 5px 3px;
  font-size: 16px;
}
.linkInstagram{
  color: #EA9A5B;
}.linkInstagram:hover{
  text-decoration: underline #1280da 2px;
}



.conteudoPedido{
  display: flex;
  width: 100vw;
  margin: 20px auto;
}.conteudoPedidoNone{
  display: none;
}
.descricaoPedido{
  background: #ffffff2b;
  border:  #1280da8d solid 1px;
  margin: auto;
  padding: 10px;
  border-radius: 15px;
}
.nomePedido{
  text-align: center;
  color: #1280da;
  font-size: 25px;
}
.tituloDescricaoPedido{
  font-weight: bolder;
  padding: 5px 0px;
  margin: auto;
}
.nomeDescricaoPedido{
  display: block;
  padding: 5px 0px;
  font-size: 15px;
}

.coluna2{
  display: flex;
  justify-content: space-between;
}
.campo{
  margin-top: 2px;
  border-radius: 4px;
  border:  #1280da8d solid 1px;
  background-color: #000000;
  color: #ffffff;
  padding: 3px;
}
.campoInput{
  width: 300px;
}
.coluna2 .campoInput{
  width: 145px;  
}
.coluna2 #pedidoCidade{
  width: 220px;  
}
.coluna2 #pedidoEstado{
  width: 70px;  
}
.campoTextarea{
  width: 300px;
  height: 38px;
}
#pedidoReferencia{
  width: 300px;
  height: 68px;
}
.campoQuantidade{
  width: 50px;
}

.titulo{
  padding-top: 15px;
  font-size: 17px;
  color: #1280da;
}
